@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
  transition: 0.3s;
  scroll-behavior: smooth;
}

@supports (backdrop-filter: blur(12px)) or (-webkit-backdrop-filter: blur(12px)) {
  .backdrop-blur-md {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-size: 20px !important;
}

html[dir="rtl"] input[type="date"]::-webkit-calendar-picker-indicator {
  background-position: calc(100% - 20px) calc(50% - 2px);
}
html[dir="ltr"] input[type="date"]::-webkit-calendar-picker-indicator {
  background-position: 20px calc(50% - 2px);
}
